################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Blog/.vs
/Blog/Blog/bin
/Blog/Blog/obj/Debug
/Blog/packages
