@{
    ViewBag.Title = "Home Page";
}

    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-12">
                <h2>Article Heading</h2>
                <ul class="list-inline"><li>@DateTime.Today.ToString("dd MMM yyyy")</ul>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                    Aliquam in felis sit amet augue.
                </p>
                <p class="lead"><button class="btn btn-default" id="ReadMore">Read More</button></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <h2>Article Heading</h2>
                <ul class="list-inline"><li>@DateTime.Today.ToString("dd MMM yyyy")</ul>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                    Aliquam in felis sit amet augue.
                </p>
                <p class="lead"><button class="btn btn-default" id="ReadMore">Read More</button></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <h2>Article Heading</h2>
                <ul class="list-inline"><li>@DateTime.Today.ToString("dd MMM yyyy")</ul>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                    Aliquam in felis sit amet augue.
                </p>
                <p class="lead"><button class="btn btn-default" id="ReadMore">Read More</button></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <h2>Article Heading</h2>
                <ul class="list-inline"><li>@DateTime.Today.ToString("dd MMM yyyy")</ul>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                    Aliquam in felis sit amet augue.
                </p>
                <p class="lead"><button class="btn btn-default" id="ReadMore">Read More</button></p>
            </div>
        </div>
    </div>
    